In [6]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

https://needjarvis.tistory.com/59

In [2]:
dataset=[['사과','치즈','생수'],
['생수','호두','치즈','고등어'],
['수박','사과','생수'],
['생수','호두','치즈','옥수수']]

In [3]:
dataset

[['사과', '치즈', '생수'],
 ['생수', '호두', '치즈', '고등어'],
 ['수박', '사과', '생수'],
 ['생수', '호두', '치즈', '옥수수']]

In [4]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_) #위에서 나온걸 보기 좋게 데이터프레임으로 변경

In [5]:
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets

   support      itemsets
0     0.50          (사과)
1     1.00          (생수)
2     0.75          (치즈)
3     0.50          (호두)
4     0.50      (생수, 사과)
5     0.75      (생수, 치즈)
6     0.50      (생수, 호두)
7     0.50      (호두, 치즈)
8     0.50  (호두, 생수, 치즈)

In [7]:
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(생수),(사과),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
1,(사과),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
2,(생수),(치즈),1.00,0.75,0.75,0.750000,1.000000,0.000,1.0
3,(치즈),(생수),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
4,(생수),(호두),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
5,(호두),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
6,(호두),(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
7,(치즈),(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
8,"(생수, 호두)",(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
9,"(치즈, 호두)",(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
10,"(생수, 치즈)",(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
11,(호두),"(생수, 치즈)",0.50,0.75,0.50,1.000000,1.333333,0.125,inf
12,(생수),"(치즈, 호두)",1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
13,(치즈),"(생수, 호두)",0.75,0.50,0.50,0.666667,1.333333,0.125,1.5

- 지지도: (항목 A와 B가 동시에 포함된 사례수) / (전체 사례수)
- 신뢰도: (항목 A와 B가 동시에 포함된 사례수) / (품목 A가 포함된 사례수)
- 향상도: 1: 두 품목이 독립, >1: 품목간의 양의 관계 , <1: 음의 관계